@page
@model HW22.Presentation.RazorPages.Pages.Account.ChangePasswordModel
@{
}
<link rel="stylesheet" href="~/css/change-password.css" />

<div class="change-password-wrapper">
    <div class="change-password-card">

        <h2>Change Password</h2>
        <p class="subtitle">Update your password securely</p>

        <form method="post">

            <div class="input-group">
                <label >Current Password</label>
                <input type="password" asp-for="passwordDto.CurrentPassword" placeholder="Enter current password">
                <span asp-validation-for="passwordDto.CurrentPassword" class="text-danger small"></span>
            </div>

            <div class="input-group">
                <label for="new-password">New Password</label>
                <input type="password" asp-for="passwordDto.NewPassword" placeholder="Enter new password">
                <span asp-validation-for="passwordDto.NewPassword" class="text-danger small"></span>
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" asp-for="passwordDto.ConfirmPassword" placeholder="Confirm new password">
                <span asp-validation-for="passwordDto.ConfirmPassword" class="text-danger small"></span>
            </div>

            <div class="password-hint">
                Password must be at least 7 characters
            </div>

            <button type="submit" class="btn primary">Update Password</button>
            <a asp-page="/Account/Profile" class="btn link-btn">Cancel</a>

        </form>

    </div>
</div>


    <partial name="_ValidationScriptsPartial" />
